<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

</head>
<body>
	<div class="container">
		<a  th:href="@{/connectgoogle}" style="margin : 20px;" class="waves-effect waves-light btn"   >SingIn google+</a>
	
		<p th:text="${url}">
			
		</p>
	</div>
</body>
</html>